<div th:replace="fragments/header::header"></div>
	<!-- Page Section Start -->
    <div class="page-section section section-padding">
        <div class="container">
            <div class="row mbn-40">
                <div class="col-lg-4 col-12 mb-40">
                    <div class="login-register-form-wrap">
                        <h3>Login</h3>
                        <form action="#" class="mb-30">
                            <div class="row">
                                <div class="col-12 mb-15"><input type="text" placeholder="Username or Email"></div>
                                <div class="col-12 mb-15"><input type="password" placeholder="Password"></div>
                                <div class="col-12"><input type="submit" value="Login"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Page Section End -->
<div th:replace="fragments/footer::footer"></div>